 .veil {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Black with 20% opacity */
  }
  
  .bottom-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #141414;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
    padding: 16px;
  }
  
  .bottom-sheet.open {
    height: 400px;
  }
  
  .bottom-sheet-content {
    height: 100%;
    overflow-y: auto;
    user-select: none;
  }
  